* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111111;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
}
a {
    text-decoration: none;
    color: #333333;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}

    /* NavBar */
.navbar {
    background: #ffffff;
    padding: 20px;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul{
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}
.navbar ul li a:hover {
    color: var(--primary-color);
}

.navbar ul li:last-child {
    margin-left: 10px;
}

.navbar ul li i {
    margin-right: 10px;
}

    /* Pricing */
.pricing .pricing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
}
.pricing .pricing-card-subheading {
    margin-bottom: 30px;
}
.pricing .pricing-card-price {
    margin-bottom: 30px;
    padding: 20px;
    border-bottom: 1px solid #cccccc;
}
    /* Utility Classes */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-small {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Card */
.card {
    background: #ffffff;
    color: #000000;
    border-radius: 10px;
    padding: 20px;
}

    /* Hero Section */
.hero {
    margin-bottom: 50px;
}
.hero .container {
    background: url("images/hero-bg.png") no-repeat center bottom;
    background-size: contain;
    height: 550px;
}
.hero .hero-content {
    width: 70%;
}
.hero .hero-text {
    width: 70%;
    margin-bottom: 20px;
}

/* Video Section */
.video {
    padding: 10px 0 40px;
}
.video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-preview {
    margin-bottom: 20px;
}

/* Testimonials */
.testimonials {
    padding: 40px 0;
}
.testimonials .testimonials-heading {
    width: 70%;
    margin-bottom: 40px;
}
.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.testimonials .card p:nth-child(2) {
    margin-top: 30px;
    font-weight: bold;
}


    /* Buttons */
.btn {
    display: inline-block;
    background-color: var(--light-color);
    padding: 13px 20px;
    color: #333333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover {
    opacity: 0.8;
}
.btn-primary {
    background: var(--primary-color);
    color: #ffffff;
}
.btn-dark {
    background: var(--dark-color);
    color: #ffffff;
}
.btn-block {
    display: block;
    width: 100%;
}

    /* Text Classes*/
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}
.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: 400;
    margin: 40px 0 20px;
}
.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 400;
    margin: 30px 0 20px;
}
.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 400;
    margin: 20px 0 10px;
}
.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: 400;
    margin: 10px 0 5px;
}
.text-center {
    text-align: center;
}

/* Background */
.bg-primary {
    background: var(--primary-color);
    color: #ffffff;
}
.bg-light {
    background: var(--light-color);
    color: #333333;
}
.bg-dark {
    background: var(--dark-color);
    color: #ffffff;
}
.bg-black{
    background: #000000;
    color: #ffffff;
}











